places
auto-save-list
backups
url
.smex-items
/eshell/history
/eshell/lastdir
/elpa/archives/gnu/archive-contents
/el-get/
/auto-save-list/
/elpa/
/el-get-init-files/init-cider.elc
*.elc
*.*~
/cider-history
recentf
/ido.last
/games/
/.mc-lists.el
/bookmarks
